<h1>Voici le détail du restaurant</h1>
<p> Nom : </p>
<p> Adresse : </p>
<table>
    <tr>
        <th>Auteur</th>
        <th>Commentaire</th>
        <th>Nombre d'étoile</th>  
        <th>Action</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th><button>Supprimer</button></th>
    </tr>
</table>

<br>
<br>
<br>
<h2>Formulaire pour ajouter une évaluation</h2>
<form>
    <span>Nom : <input name="nom"></span>
    <br>
    <span>Commentaire : <input name="commentaire"></span>
    <br>
    <span>Nombre d'étoile(s) : <input name="nbrEtoile"></span>
    <br>
    <button type="submit">Envoyer évaluation</button>
</form>

<h2>Formulaire pour éditer le restaurant</h2>
<form>
    <span>Nom : <input name="nom"></span>
    <br>
    <span>Adresse : <input name="adresse"></span>
    <br>
    <button type="submit">Editer restaurant</button>
</form>

<a routerLink="">Revenir à la liste</a>